{% extends 'plumb_app/base.html' %}
{% load static %}

{% block links %}<link rel="stylesheet" href="{% static 'plumb_app/css/watch.css' %}">{% endblock %}

{% block title %}HElll - {{title}}{% endblock %}

{% block content %}
<div class="fillters">
    <div class="container">
        <div class="fillters-block">

            <div class="fillters-drop-down">
                <ul class="drop-down closed" id="menu1">
                    <li><a href="#" class="nav-button">За популярністю</a></li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                </ul>
            </div>

            <div class="fillters-drop-down">
                <ul class="drop-down closed" id="menu1">
                    <li><a href="#" class="nav-button">Жанр</a></li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                </ul>
            </div>

            <div class="fillters-drop-down">
                <ul class="drop-down closed" id="menu1">
                    <li><a href="#" class="nav-button">Країна</a></li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                </ul>
            </div>

            <div class="fillters-drop-down">
                <ul class="drop-down closed" id="menu1">
                    <li><a href="#" class="nav-button">Рік</a></li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                </ul>
            </div>

            <div class="fillters-drop-down">
                <ul class="drop-down closed" id="menu1">
                    <li><a href="#" class="nav-button">Субтитри</a></li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                    <li><input type="checkbox">Uiofujaps</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="movies">
    <div class="container">
        <div class="movies-grid">
            {% for movie in movies %}
                <div class="movie">
                    <a href="{% url 'exactly_movie' pk=movie.pk %}"><img class="movie-img" src="{{ movie.img.url }}" alt="{{ movie.title }}"></a>
                    <p class="movie-title">{{movie.title}}</p>
                    <p class="movie-year-genre">{{movie.year}}, {{movie.genre}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}


{% block scripts %}
    <script src=""></script>
{% endblock %}