.movie{
margin-top: 100px;
color: #FFF;
display: flex;
}

.movie-left{
    display: flex;
    justify-content: center;
    width: 50%;
}

.movie-right{
    padding-top: 100px;
    width: 50%;
}

.movie-title{
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
}

.movie-description{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.movie-year-genre{

}