<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading...</title>
    <link rel="stylesheet" href="{% static 'plumb_app/css/preloader.css' %}" />
    <link rel="icon" href="/imeges/icon.png" />
  </head>
  <body>
    <div class="container">
      <div class="spinner"></div>
    </div>
    <script src="{% static 'plumb_app/js/preloader.js' %}"></script>
  </body>
</html>